<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>작성</title>
</head>

<style>
  .layout{
    width: 50px;
    margin : 0 auto;
    margin-top: 40px;
  }

  .layout > input {
    width: 100%;
    box-sizing: border-box;
  }

  .layout textarea {
    width: 100%;
    margin-top: 10px;
    min-height: 300px;
  }
</style>
<body>
<div class = "layout">
  <form action = "/checkin/writepro" method="post">
    <input name = "user_id" type="text">
    <input name="category" type="text">
    <input name = "day" type="date">
    <input name = "time" type="time">
    <input name = "week" type="text">

    <button type="submit">작성</button>

  </form>
  <button onclick = "location.href = '/checkin/list'">목록</button>
</div>
</body>
</html>