<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세 페이지</title>
</head>
<body>
<p th:text="${checkin.user_id}">유저아이디</p>
<p th:text="${checkin.category}">카테고리</p>
<p th:text="${checkin.day}">날짜</p>
<p th:text="${checkin.time}">시간</p>
<p th:text="${checkin.week}">요일</p>

<a th:href="@{/checkin/delete(id=${checkin.id})}">삭제</a>

<a th:href="@{/checkin/modify/{id}(id=${checkin.id})}">수정</a>

<button onclick = "location.href = '/checkin/list'">목록</button>

</body>
</html>